html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
wrapper, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
header{
    background-color: #3d99d3;
    height: 40px;
}
header img{
    padding: 10px 0px 0px 0px;
}

.container{
    margin: auto;
    width: 80%;
}
.jumbotron-fluid{
    margin: 0px;
    background-image: url("image/cover.jpg");
    background-size: cover;
    padding: 150px;
    background-repeat: no-repeat, repeat;
    background-position: center;
}

.entry1{
    position: absolute;
    bottom: 20px;
    left: 24px;   
}
.profile{
    height: 154px;
    width: 156px;
}
.nav{
    background: #eceeef;
    display: flex;
    padding-left: 155px;
    margin-bottom: 0;
    list-style: none;
}


.row .col-md-4{
/*   padding: 5px;*/
   border-color: #efecec;
}
.row .col-md-8{
/*   padding: 5px;*/
   border-color: 1px solid;
}



#arrow{
    border-radius: 5px;
    background: #fff;
    border:1px solid #ccc;
}
#arrow h3{
    background: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}
#arrow h3 i{
    margin: 0 8px 0 0;
}
.asideNav{
    border-radius: 5px;
    background: #fff;
    border:1px solid #ccc;
}
.asideNav ul{
    margin-top: 0px;
    margin-bottom: 0rem; 
    padding: 0 16px;
    list-style-type: none;
}
.asideNav ul i{
    float: right;
    cursor: pointer;
}
.asideNav ul li{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
h3 #arrow-up{
  display: none;
} /*Aside and here*/

.article{
    flex: 1 3 65%;
    padding: 0 0 0 5px;
}
.articleContaniner {
    border-radius: 5px;
    background: #fff;
    border:1px solid #ccc;
}
.articleContaniner  h3{
    background: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}
article .articleContaniner ul li:last-child{
    border-bottom: 0;
}
article .articleContaniner h3 {
    font-weight: bold;
}
article .articleContaniner input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    padding: 3px;
}
article .box-body {
    padding: 10px;
}
article .box-body textarea {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 3px;
}

.articleArea{
    /* background: #fff; */
    border:1px solid #ccc;
    margin-top: 20px;
}
.articleArea h3{
    background: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}
.articleArea ul{
    padding: 0 10px;
    list-style-type: none;
}
.articleArea ul li{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

article .articleArea textarea {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 3px;
} 
article .articleArea1 {
    padding: 10px;
}
article .articleArea1 textarea {
    color: #8c8888;
    font-size: 15px;
}

/* article ends here*/

















/*

    <header class="header-main col-xs-12">
        <a href="#">
        <img src="image/myface_logo.png" alt="">
         </a>
    </header>
    <section class="bannser-section col-xs-12 col-lg-8 offset-lg-2">
        <div class="backgroung-holder">

        </div>
        <div class="menu-bar">
            <div class="profile-holder">
                <img src="image/profile.png" />
            </div>
        </div>
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Galleries</a>
                </li>
            </ul>
        </nav>
    </section>
    <script id="banner-img" type="text/x-handlebars-template">
        <div class="body">
            <img class="profile" src="{{profile_img}}">
        </div>
    </script>*/
