
body {
  background-color:#D8D8D8;
}

body #main .row {
  margin:0;
}

ul {
  list-style-type: none;
}

.top-header {
    background-color: #3663A3;
    padding: 5px;
    width:100%;
    border-bottom:1px solid #000000;
}

section {
  margin-bottom: 2rem;
}

.header {
  padding:0;
}

.cover {
  min-height:400px;
  background-size:100% 100%;
}

.profile-image {
  position:absolute;
  bottom:10px;
  left:10px;
  z-index:10;
  border:1px solid #BDBDBD;
}

.menu-img img {
  border:5px solid #FFFFFF;
}

.header nav {
  border: 1px solid #BDBDBD;
  background-color: #FFFFFF;
  padding:0 0 0 230px;
}

ul.nav li{
  margin:0;
  padding:0 2rem;
  color: #3663A3;
  border-right:1px solid #BDBDBD;
  cursor:pointer;
}

ul.nav li:first-child {
  border-left:1px solid #BDBDBD;
}

/* about, blog box, gallery box styling */

.blog-box-container,
.gallery-box-container {
  padding:0;
}

.about-box-container {
  padding:0 1.5rem 0 0;
}

.about-container,
.post-container,
.blog-container {
  border:1px solid #BDBDBD;
  background-color:#FFFFFF;
  padding: 0;
  margin:0;
  color: #424242;
  border-radius:3px;
}

.post-container,
.blog-container {
  padding-right:0;
}

@media (min-width:728px) {
  .blog-box-container,
  .gallery-box-container  {
    padding-left:1rem;
  }
}

.about-container .accordion-toggle:after {
  font-family: 'FontAwesome';/* essential to enable caret symbol*/
  content: "\f0d7";/* adjust as needed, taken from font-awesome.css */
  color: #424242;
}
.about-container .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f0da";  /* adjust as needed, taken from font-awesome.css */
}

.title-about, .title-new-post, .title-blog-post {
  padding:10px 0 10px 20px;
  border-bottom:1px solid #BDBDBD;
  background-color:#F8F5F5;
  font-weight:700;
}

.title-about a {
  margin-right:0.5rem;
}

ul.list-about, ul.new-post-list, ul.blog-post-list {
  padding: 0;
  margin:0;
  font-size:0.8rem;
}

ul.list-about li,
ul.blog-post-list li {
  padding:10px 0;
  margin: 0 20px;
  border-bottom:1px solid #BDBDBD;
}

ul.list-about li input[readonly] {
  border:none;
  outline:none;
}

ul.list-about li:first-child {
  display:none;
}

ul.list-about li:last-child,
ul.blog-post-list li:last-child {
  border-bottom:none;
}

ul.list-about span {
  cursor:pointer;
  float:right;
}

ul.list-about span.save-about {
  display:none;
}

.new-post{
  padding: 15px;
}

ul.new-post-list li{
  margin-bottom:.1rem;
}

ul.blog-post-list li {
  margin-bottom:.5rem;
}

ul.new-post-list li input,
ul.new-post-list li textarea,
ul.blog-post-list li input {
  width:100%;
  border:1px solid #BDBDBD;
  padding: 0 0.5em;
}

.blog-container {
  margin:1rem 0 0 0;
}

#gallery-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  position:relative;
}

#gallery-container img {
  vertical-align: top;
  cursor:pointer;
}

@media (min-width:380px) {
  #gallery-container img {
    width:100%;
    padding: 1em 0 0 0;
  }
}

@media (min-width:490px) {
  #gallery-container img {
    width:50%;
    padding: 1em 1em 0 0;
  }
}

@media (min-width:768px) {
  #gallery-container img {
    width:100%;
    padding: 0 0 1em 1em;
  }
}

@media (min-width:1100px) {
  #gallery-container img {
    width:50%;
  }
}

@media (min-width:1800px) {
  #gallery-container img {
    width:31%;
  }
}

.gallery-modal{
  display:none;
  background-color:#f2f2f2;
  position:absolute;
  top:0;
  left:0;
  /* bottom:0;
  right:0; */
  height:50%;
  width:100%;
}
.modal-image-container{
  height:100%;
  width:100%;
  display:table;
}

.modal-image {
  background-size:contain;
  height:33%;
  width:33%;
  display:table-cell;
  vertical-align:middle;
  background-color:#000;
}

