/*
.header-styles {
  background: url('images/myface_logo.png') no-repeat;
  background-position: 19.5%, 10%;
  background-color: #48669C;
  height: 5%;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.bg-img-class {
  width: 1095px;
}
*/
.nature_img {
  width: 100%;
  height: 470px;
}
.nav-cont {
  height: 75px;
}
.bottom-navbar-border-styles {
  border: 1px solid #D2D2D2;
  border-radius: 0 0 5px 5px;*/
}
.navbar-nav li {
  color: #435B92;
  font-size: 1.2em;
  position: relative;
  height: 100%;
  left: 250px;
  border-right: 1px solid #D2D2D2;
  padding: 1% 1% 1% 1%;
}
.navbar-nav li:nth-child(1) {
  border-left: 1px solid #D2D2D2;
}
.profile_img {
  border:1px solid #D2D2D2; 
  padding:2px; 
  background:white;
  margin-left: 0;
  border-radius: 5px 5px 5px 5px;
  /* APPLYING WIDTH TO PNG ALLOWS IT TO SCALE WELL WHEN ALTERING VIEWPORT SIZE */
  width: 20%;
  height: auto;
  position: relative;
  transform: translate(3%, -110%);
}
.btm-nav-header {
  border: 1px solid #D2D2D2;
  border-radius: 5px 5px 0 0;
  height: 10%;
}
.about_h5 {
  margin-left: 6%;
  margin-top: 3%;
  margin-bottom: 5%;
  color: #435B92;
}
#side-nav-placeHolder-div {
  /* height so so it gives the effect of not being there 
  height: 0px;
  this hides the div's inner content when the panel is set to height 0; otherwise
  people would see all of the inner content when div is hidden
  
  overflow: hidden;
   
  CSS transitions allows you to change property values smoothly (from one value to another)
  over a given duration 
  we are running transition on the height property, takes .3 sec for animation to occur,
  in linear fashion with 0 delay
  */
  transition: height 0.3s linear 0s;  
  height: 340px;
  z-index: 10000;
  border: 1px solid #D2D2D2;
  border-top: 0;
  border-radius: 0 0 5px 5px;
}
#verticalSide-nav-ul {
  padding: 2%;
}
#verticalSide-nav-ul li {
  /* list-style-type: none, removes bullet points from UL */
  list-style-type: none;
  color: #435B92;
  font-weight: normal;
  padding: 5%;
  border-bottom: 1px solid #D2D2D2;
}
#verticalSide-nav-ul li:hover {
  background-color: #E8E8E8;
}
#verticalSide-nav-ul li:nth-child(6) {
  border-bottom: 0;
}
.body {
  border: 1px solid #D2D2D2;
  height: 340px; 
}