
body {
    width: 100%;
}
    
.head {
    height: 50px;
    background-image: url("./MyFace%20Assets/bg.png");
}

.background {
    height: 400px;
    background-color: lightgray;
}

.background-image {
    background-image: url("./MyFace%20Assets/cover.jpg");
    width: 75%;
}